@using AppMVC.Components
@model PCategorySidebar.CategorySidebarData

@if (Model.Level == 0) 
{
  <h3>
    <a asp-controller="ViewProduct" asp-action="Index" asp-route-catSlug="">
      Product Categories
    </a>
  </h3> 
}

<ul>
  @foreach (var category in Model.Categories)
  {
    var activeClass = category.Slug == Model.CategorySlug ? "active" : null;
    <li>
      <a class="@activeClass" asp-controller="ViewProduct" asp-action="Index" asp-route-catSlug="@category.Slug">
          @category.Title
      </a>
      @if (category.ChildrenCategories?.Count > 0) 
      {
        @await Component.InvokeAsync("PCategorySidebar",
          new PCategorySidebar.CategorySidebarData() 
          {
            Categories = category.ChildrenCategories.ToList(),
            Level = Model.Level + 1,
            CategorySlug = Model.CategorySlug
          }
        )
      }
    </li>
  }
</ul>