<div class="dropdown">
  <a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu" data-toggle="dropdown">Manage</a>
  <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
    <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Contact Manage</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Role Manage</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">User Manage</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">Post Category Manage</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Post" asp-area="Blog">Post Manage</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Product">Product Category Manage</a>
    <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="FileManager" asp-area="Files">File Manager</a>
  </div>
</div>