@model string

@{
  Layout = "_Layout";
}

<div class="card bg-primary text-white">
  <h1 class="card-header">Hello @Model</h1>
  <div class="card-body">
    <p class="card-text">
      I am studing View (.cshtml) in ASP.NET MVC
    </p>
  </div>
</div>
<hr>
@this.Path