@{
  ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
  <p>
    Confirm email successfully. Please <a asp-controller="Account" asp-action="Login">click here to login</a>.
  </p>
</div>