.contact-firstcol {
  background-color: #9854a0;
  color: white;
  text-align: center;

  border-radius: 15px 0 0 15px;

  h4 {
    line-height: 40px;
    font-weight: 400;
    margin-top: 20px;
  }
}
