@using AppMVC.Models.Blog
@model List<Category>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if (Model != null) {
      @foreach (var category in Model)
      {
        <li class="breadcrumb-item">
          <a asp-action="Index" asp-route-catSlug="@category.Slug">@category.Title</a>
        </li>
      }
    }
  </ol>
</nav>