@page "/about-razor.html"
@{
  Layout = "_Layout";
}
<h1>About Razor</h1>
<p>
  Razor is a template engine in .NET, it is a default template engine in ASP.NET MVC, it can render HTML from Views (.cshtml)
</p>